# ==================================================
# Python
# ==================================================

__pycache__/
*/__pycache__/

*.pyc
*.pyo
*.pyd

.ipynb_checkpoints/

# ==================================================
# Virtual Environments
# ==================================================

torch-venv/
venv/
.env/

# ==================================================
# Environment Variables
# ==================================================

.env
.env.local

# ==================================================
# React / Node
# ==================================================

node_modules/
frontend/node_modules/

build/
frontend/build/

# ==================================================
# Uploaded User Images
# ==================================================

uploads/

# ==================================================
# OS Files
# ==================================================

.DS_Store
Thumbs.db

# ==================================================
# Logs
# ==================================================

*.log

# ==================================================
# Coverage / Testing
# ==================================================

coverage/
.pytest_cache/

.env


skin_vs_nonskin_Validator/
